<!-- buttons to toggle between tabs -->
<div class="btn-box">
  <button id="tab1" data-tabs-target="btn" data-action="click->tabs#select" class="btn">DEV Blog</button>
  <button id="tab2" data-tabs-target="btn" data-action="click->tabs#select" class="btn">Small Projects</button>
  <button id="tab3" data-tabs-target="btn" data-action="click->tabs#select" class="btn">Fullstack Apps</button>
  <button id="tab4" data-tabs-target="btn" data-action="click->tabs#select" class="btn">Codepen</button>
  <button id="tab5" data-tabs-target="btn" data-action="click->tabs#select" class="btn">Vendor</button>
  <!-- <button id="tab6" data-tabs-target="btn" data-action="click->tabs#select" class="btn">Blank</button> -->
  <button id="tab7" data-tabs-target="btn" data-action="click->tabs#select" class="btn">Connect</button>
</div>