<div class="codepen">
  <h1>Glowing Interactive Cube, Dude.</h1>
  <p>Here is an example of a component created with HTML and CSS.</p>
</div>
<p class="codepen" data-height="600" data-theme-id="dark" data-default-tab="html,result" data-slug-hash="wBMJbqN" data-pen-title="Untitled" data-editable="true" data-user="AnnaVi11arrea1"
style="height: 600px; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 200px; padding: 1em;">
  <span>See the Pen <a href="https://codepen.io/AnnaVi11arrea1/pen/wBMJbqN">
      Untitled</a> by Anna Villarreal (<a href="https://codepen.io/AnnaVi11arrea1">@AnnaVi11arrea1</a>)
    on <a href="https://codepen.io">CodePen</a>.</span>
</p>
<script async src="https://public.codepenassets.com/embed/index.js"></script>
<br>
<div class="codepen">
  <h1>Color Changing and Pulsing Radio Button Fun</h1>
  <p>I found myself repeatedly wanting fun radio buttons, so here is boilerplate fun radio buttons!</p>
</div>
<p class="codepen" data-height="364" data-theme-id="dark" data-default-tab="html,result" data-slug-hash="WNWKVXN" data-pen-title="Color changing and pulsing radio button fun" data-editable="true" data-user="AnnaVi11arrea1" style="height: 364px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;">
  <span>See the Pen <a href="https://codepen.io/AnnaVi11arrea1/pen/WNWKVXN">
      Color changing and pulsing radio button fun</a> by Anna Villarreal (<a href="https://codepen.io/AnnaVi11arrea1">@AnnaVi11arrea1</a>)
    on <a href="https://codepen.io">CodePen</a>.</span>
</p>
<script async src="https://public.codepenassets.com/embed/index.js"></script>
<br>
<div class="codepen">
  <h1>Custom Card Component</h1>
  <p>This is a custom card component that can be used to display content in a visually appealing way. Good uses include products or events.</p>
</div>
<p class="codepen" data-height="700" data-theme-id="dark" data-default-tab="html,result" data-slug-hash="bNEqPBV" data-pen-title="Untitled" data-editable="true" data-user="AnnaVi11arrea1" style="height: 300px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;">
  <span>See the Pen <a href="https://codepen.io/AnnaVi11arrea1/pen/bNEqPBV">
      Untitled</a> by Anna Villarreal (<a href="https://codepen.io/AnnaVi11arrea1">@AnnaVi11arrea1</a>)
    on <a href="https://codepen.io">CodePen</a>.</span>
</p>
<script async src="https://public.codepenassets.com/embed/index.js"></script>