<div class="carousel-container">
  <input type="radio" name="position" checked />
  <input type="radio" name="position" />
  <input type="radio" name="position" />
  <input type="radio" name="position" />
  <input type="radio" name="position" />
  <main id="carousel">
    <div class="item">
      <p class="codepen" data-height="300" data-theme-id="dark" data-default-tab="css,result" data-slug-hash="gbPKaNr" data-pen-title="Vampire Lady" data-editable="true" data-user="AnnaVi11arrea1" data-zoom="0.5" style="height: 300px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;">
        <span>See the Pen <a href="https://codepen.io/AnnaVi11arrea1/pen/gbPKaNr">
            Vampire Lady</a> by Anna Villarreal (<a href="https://codepen.io/AnnaVi11arrea1">@AnnaVi11arrea1</a>)
          on <a href="https://codepen.io">CodePen</a>.</span>
      </p>
      <script async src="https://public.codepenassets.com/embed/index.js"></script>
    </div>

    <div class="item">
      <p class="codepen" data-height="300" data-theme-id="dark" data-default-tab="html,result" data-slug-hash="LENOMvE" data-pen-title="Spinning FLowers" data-editable="true" data-user="AnnaVi11arrea1" style="height: 300px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;">
        <span>See the Pen <a href="https://codepen.io/AnnaVi11arrea1/pen/LENOMvE">
            Spinning FLowers</a> by Anna Villarreal (<a href="https://codepen.io/AnnaVi11arrea1">@AnnaVi11arrea1</a>)
          on <a href="https://codepen.io">CodePen</a>.</span>
      </p>
      <script async src="https://public.codepenassets.com/embed/index.js"></script>
    </div>

    <div class="item">
      <p class="codepen" data-height="300" data-theme-id="dark" data-default-tab="html,result" data-slug-hash="QwNOzRr" data-pen-title="Spinning Robotic Arm" data-editable="true" data-user="AnnaVi11arrea1" data-zoom="0.5" style="height: 300px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;">
        <span>See the Pen <a href="https://codepen.io/AnnaVi11arrea1/pen/QwNOzRr">
            Spinning Robotic Arm</a> by Anna Villarreal (<a href="https://codepen.io/AnnaVi11arrea1">@AnnaVi11arrea1</a>)
          on <a href="https://codepen.io">CodePen</a>.</span>
      </p>
      <script async src="https://public.codepenassets.com/embed/index.js"></script>
    </div>

    <div class="item">
      <p class="codepen" data-height="600" data-theme-id="dark" data-default-tab="html,result" data-slug-hash="wBMJbqN" data-pen-title="Untitled" data-editable="true" data-user="AnnaVi11arrea1"style="height: 600px; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 200px; padding: 1em;">
        <span>See the Pen <a href="https://codepen.io/AnnaVi11arrea1/pen/wBMJbqN">
            Untitled</a> by Anna Villarreal (<a href="https://codepen.io/AnnaVi11arrea1">@AnnaVi11arrea1</a>)
          on <a href="https://codepen.io">CodePen</a>.</span>
      </p>
      <script async src="https://public.codepenassets.com/embed/index.js"></script>
    </div>

    <div class="item">
      <p class="codepen" data-height="364" data-theme-id="dark" data-default-tab="html,result" data-slug-hash="WNWKVXN" data-pen-title="Color changing and pulsing radio button fun" data-editable="true" data-user="AnnaVi11arrea1" style="height: 364px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;">
        <span>See the Pen <a href="https://codepen.io/AnnaVi11arrea1/pen/WNWKVXN">
            Color changing and pulsing radio button fun</a> by Anna Villarreal (<a href="https://codepen.io/AnnaVi11arrea1">@AnnaVi11arrea1</a>)
          on <a href="https://codepen.io">CodePen</a>.</span>
      </p>
      <script async src="https://public.codepenassets.com/embed/index.js"></script>
    </div>
  </main>
</div>