<div class="mycard2">
  <%= image_tag "face.jpg"%>
  <div>
  <h2>Contact</h2>
  <p>Discord: everfluorescent</p>
  <p>Instagram: @everfluorescentofficial</p>
  <p>Email: stayfluorescent@gmail.com</p>
</div>
</div>