<div class="gallery">
  <div class="mycard">
    <div class="ribbon text-card">
      <div class="column">
        <%= image_tag "govend.png" %>
      </div>
      <div class="column">
        <h2>goVend</h2>
        <p class="card-text">Built with Ruby on Rails, goVend helps to conect vendors to events.</p>
        <a href="https://www.govend.ing/">Visit goVend</a>
      </div>
    </div>
  </div>
  <div class="mycard">
    <div class="ribbon text-card">
      <div class="column">
      </div>
      <div class="column">
        <h2>Microcart</h2>
        <p class="card-text">Building a small shopping cart app that easily creates carts for small businesses.
        </p>
      </div>
    </div>
  </div>
</div>