<div class="gallery">

    <div class="mycard">
        <div class="ribbon text-card">
            <%= image_tag "RainbowBBQchicken.jpg" %>
            <h2>BBQ Chicken Master Class Signup</h2>        
            <p>Built with vanilla CSS, this is where I really started to love CSS. The radio buttons are animated and change color. Super fun. </p>
        </div>
    </div>


    <div class="mycard">
        <div class="ribbon text-card">
            <%= image_tag "leadstrackerextension.jpg" %>
            <h2>Leads Tracker Extension</h2>
            <p class="card-text">My first chrome extension. Keep track of your leads.</p>
        </div>
    </div>
</div>