body {
    font-family: "Barlow", sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: rgb(209, 152, 255);
    background-color: rgb(0, 0, 0);
    margin: 0 auto;
    flex-wrap: wrap;
}

p {
    font-size: 20px;
}

a,
h1 {
    color: rgb(0, 247, 255);
}

a {
    text-decoration: none;

    &:hover {
        letter-spacing: 1px;
    }
}

.top {
    background-color: #333;
    color: #000;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.name {
    color: #fff;
    margin-bottom: 0;
    margin-top: 0;
}

.barlow-thin {
    font-family: "Barlow", sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 50px;
}

.barlow-regular {
    font-family: "Barlow", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.footer {
    background-color: #000;
    padding: 20px;
    text-align: center;
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
}

/*==============
TABS
===============*/

.hidden {
    display: none;
}

.dots {
    height: 15vh;
    width: 100%;
    background-color: rgba(140, 0, 255, 0.4);
    background-image:
        url('seamless.png');
    background-repeat: repeat;
    background-position:
        100% 100%,
        100% 100%,
        0 50%,
        0 0;
    background-size:
        800px,
        500px 200px,
        1000px,
        400px 260px;
    background-blend-mode: screen;
    animation: 100s para infinite linear;
}



@keyframes para {
    100% {
        background-position:
            -3000px 100%,
            -500px 100%,
            500px 50%,
            1000px 100%;
    }
}

/*==============
BUTTONS
===============*/

.btn {
    display: flex;
    flex-shrink: 1;
    justify-content: center;
    box-shadow: inset 0px 0px 15px 5px rgb(58, 0, 134);
    border-top: 1px solid rgb(0, 247, 255);
    border-bottom: 2px solid rgb(44, 0, 80);
    color: #fff;
    background-image: linear-gradient(rgb(0, 0, 0), rgb(0, 0, 0), rgb(0, 0, 0), rgb(73, 0, 132), rgb(71, 200, 255));
    border-radius: 10px;
    padding: 15px 18px;
    margin: 3px;
    font-size: 20px;
    font-weight: regular;
    font-family: 'Barlow', sans-serif;

    &:hover {
        cursor: pointer;
        background-color: #000;
        background-image: none;
        box-shadow: none;
    }
}

.btn:active {
    transform: translateY(3px);
    box-shadow: 0 0 10px 5px hsl(276, 100.00%, 75.50%);
}

.btn-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 40px;
}

/*==============
CARDS
===============*/

.mycard {
    box-sizing: border-box;
    display: flex;
    position: relative;
    flex-basis: 70%;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    align-self: center;
    color: #fff;
    padding: 7px;
    margin: 10px;
    border-radius: 20px;
    height: 100%;
    width: 60%;
    animation: orbit 1s;
    overflow: clip;
}

.mycard:before {
    content: '';
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(89, 0, 255, .5), 75% rgba(0, 0, 0, 0.5));
    background-size: cover;
    /* Works well with transparency */
    z-index: 1;
    transition: opacity 1s ease;
}

.mycard:hover::after {
    content: '';
    position: absolute;
    width: 125%;
    height: 125%;
    background: linear-gradient(rgb(234, 0, 255), rgb(89, 0, 255), rgb(36, 21, 255), rgb(0, 238, 255));
    border-radius: 20px;
    z-index: 1;
    background-color: #000;
    opacity: 1;
    animation: rotate 15s linear infinite;
}

@keyframes flashGradient {
    0% {
        opacity: 0.2;
        background-position: 0% 0%;
    }

    50% {
        opacity: 1;
        background-position: 50% 50%;
    }

    100% {
        opacity: 0.2;
        background-position: 100% 100%;
    }
}

@keyframes rotate {
    100% {
        transform: rotate(1turn);
    }
}

.mycard img {
    width: 80%;
    height: auto;
    border-radius: 10px;
}

.mycard2 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    color: #fff;
    padding: 7px;
    margin-top: 100px;
    margin-bottom: 100px;
    border-radius: 20px;
    height: 100%;
}

.mycard2 img {
    width: 25%;
    height: auto;
    border-radius: 300px;
}

.ribbon {
    z-index: 5;
    justify-content: space-around;
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    background: rgb(9, 8, 8);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

    &&:hover {
        background: rgba(0, 0, 0, 1);
    }

    h3 {
        color: #fff;
        margin: 0 auto;
        padding-bottom: 20px;
    }

    p {
        color: #fff;
        margin: 0 auto;
        padding: 0 10px 10px 10px;
        text-align: center;
    }
}

.text-card {
    display: flex;
    flex-direction: row;
    padding: 20px;
    font-size: 20px;
    width: 100%;
    border-radius: 25px;
    font: 200 20px 'Barlow', sans-serif;

    p {
        margin: 0 10px 0 10px;
        padding: 0;
        text-align: left;
    }
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.socials {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 10px;
}

/*==============
IMAGE GALLERY
===============*/

.gallery-image {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    flex-grow: 1;
    flex-shrink: 1;
    padding: 10px;
    object-fit: cover;
}

.gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 20px;
}

.gallery img {
    width: 300px;
    height: 200px;
    margin: 20px;
    border-radius: 10px;
    object-fit: cover;
}

/*==============
LOGO
===============*/

.logo {
    display: flex;
    flex-direction: column;
    justify-self: center;
    margin-bottom: 20px;
    width: 25%;
    height: auto;
    border-radius: 10px;
    padding: 10px;
    animation: fadeIn .5s;
}

/*=================
ACTIVITY FEED
==================*/
.dev-feed-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 20px;
}

.dev-feed-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(19, 0, 49, 0.8);
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 0 5px 2px rgb(98, 0, 255);
    border: 1px solid rgb(131, 0, 143);
    width: 300px;
    height: 200px;
}

.dev-feed-image {
    width: 80%;
    height: auto;
    padding-top: 20px;
    border-radius: 10px;
    margin-bottom: 10px;
}

/*=================
CODEPEN
==================*/

.codepen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    width: 100%;
    height: auto;
    border-radius: 10px;
    padding: 10px;
}

iframe {
    border-radius: 10px;
    box-shadow: 0 0 5px 2px rgb(98, 0, 255);
    border: 1px solid rgb(131, 0, 143);
    width: 80% !important;
    height: 600px;
    margin: 0 auto;
}

/*=================
Carousel
==================*/

.carousel-container {
    height: 850px;
    margin: 0;
    display: grid;
    grid-template-rows: 800px 100px;
    grid-template-columns: 1fr 50px 50px 50px 50px 50px 1fr;
    align-items: center;
    justify-items: center;
}

main#carousel {
    grid-row: 1 / 2;
    grid-column: 1 / 8;
    width: 100%;
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transform-style: preserve-3d;
    perspective: 200px;
    --items: 5;
    --middle: 3;
    --position: 1;
    pointer-events: none;
    /* background-color: rgba(111, 0, 255, .5); */

}

div.item {
    position: absolute;
    width: 80%;
    top: 50px;
    height: 570px;
    background-blend-mode: screen;
    --r: calc(var(--position) - var(--offset));
    --abs: max(calc(var(--r) * -1), var(--r));
    transition: all 0.25s linear;
    transform: rotateY(calc(-10deg * var(--r))) translateX(calc(-300px * var(--r)));
    z-index: calc((var(--position) - var(--abs)));
    border-left: 1px solid rgb(0, 247, 255);
    border-right: 1px solid rgb(0, 247, 255);
    border-radius: 50px;
}

div.item:nth-of-type(1) {
    --offset: 1;
}

div.item:nth-of-type(2) {
    --offset: 2;
}

div.item:nth-of-type(3) {
    --offset: 3;
}

div.item:nth-of-type(4) {
    --offset: 4;
}

div.item:nth-of-type(5) {
    --offset: 5;
}

input:nth-of-type(1) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

input:nth-of-type(1):checked~main#carousel {
    --position: 1;
}

input:nth-of-type(2) {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}

input:nth-of-type(2):checked~main#carousel {
    --position: 2;
}

input:nth-of-type(3) {
    grid-column: 4 /5;
    grid-row: 2 / 3;
}

input:nth-of-type(3):checked~main#carousel {
    --position: 3;
}

input:nth-of-type(4) {
    grid-column: 5 / 6;
    grid-row: 2 / 3;
}

input:nth-of-type(4):checked~main#carousel {
    --position: 4;
}

input:nth-of-type(5) {
    grid-column: 6 / 7;
    grid-row: 2 / 3;
}

input:nth-of-type(5):checked~main#carousel {
    --position: 5;
}

input {
    appearance: none;
    width: 30px;
    height: 30px;
    border: 2px solid rgb(0, 247, 255);
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    position: relative;
    background-color: rgba(29, 0, 59, 0);
}

input:checked {
    background-color: rgb(0, 247, 255);
}

